:root {
    --top-banner-height: 400px;
    --font-size-large: 24px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
    --black-code: #333333;
}

body {
    /*セレクタに font-family を指定*/
    font-family: 'Sawarabi Gothic', sans-serif;
}

.video_iframe {
    width: 560px;
    height: 315px;
}


.center_box {
    display: block;
    text-align: center;
}

.small_margin {
    margin: 10px 15px 10px 15px;
}

/* Flexbox設定 */
.column_container {
    display: flex;
    flex-direction: column;
}

.row_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left_row_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.right_row_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

/* レスポンシブ設定ここから */
@media screen and (max-width: 560px) {

    .video_iframe {
        width: 90%;
    }
}

/* レスポンシブ設定ここまで */