:root {
    --top-banner-height: 400px;
    --font-size-large: 24px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
    --black-code: #333333;
    --marker-code: #00ffff;
}

body {
    /*セレクタに font-family を指定*/
    font-family: 'Sawarabi Gothic', sans-serif;
}

.bg_base {
    background-color: #f9f6f5;
}

.bg_main {
    background-color: #BAE3CB;
}

.bg_another {
    background-color: #F4F5F7;
}


.video_iframe {
    width: 560px;
    height: 315px;
    aspect-ratio: 560 / 315;
}

.center_box {
    display: block;
    text-align: center;
}

.small_margin {
    margin: 10px 15px 10px 15px;
}

.width_max {
    width: 100%;
}

.song_title_text {
    font-family: 'Dela Gothic One', cursive;
    color: var(--black-code);
    padding: 10px 15px 10px 15px;
    font-size: 32px;
}

.mark {
    background: linear-gradient(transparent 40%, var(--marker-code) 80%);
}

/* Flexbox設定 */
.column_container {
    display: flex;
    flex-direction: column;
}

.row_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left_row_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.right_row_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

/* レスポンシブ設定ここから */
@media screen and (max-width: 560px) {

    .video_iframe {
        width: 90%;
        height: auto;
    }
}

/* レスポンシブ設定ここまで */