.sitemap_menu_li {
    margin-bottom: 20px;
    list-style:none;
    text-align: center;
}

.sitemap_menu_link {
    color: var(--black-code);
    text-decoration: none;
    padding-left:0;
}